<launch>

  <arg name="map_method" default="gmapping" />
  <arg name="sim" default="false"/>
  
  <include file="$(find pmb2_lab_nav)/launch/pmb2_localization.launch">
	<arg name="map_method" value="$(arg map_method)"/>
	<arg name="sim" value="$(arg sim)"/>
  </include>
  
  <include file="$(find pmb2_lab_nav)/launch/pmb2_navigation.launch">
  	<arg name="sim" value="$(arg sim)"/>
  </include>
    
</launch>