<launch>

  <arg name="rvizconfig" default="robot_map" />
  <arg name="method" default="gmapping"/>
  <arg name="sim_time" default="true" />
  
  
  <param name="use_sim_time" value="$(arg sim_time)" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pmb2_lab_nav)/rviz/$(arg rvizconfig).rviz" />
  <include file="$(find pmb2_lab_nav)/launch/mapping/$(arg method).launch"/>
  
</launch>